
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background-color: skyblue;

    h1{
        font-size: 40px;

    }
    .container{
        display: flex;
        margin-top: 50px;
        width: 80%;
      .card{
          background-color: #fff;
          padding: 50px 30px;
          height: 400px;
          margin: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          .pic{
              width: 100px;
              height: 100px;
              background-color: blue;
              border-radius: 50%;

          }
          .p{
              text-align: center;
              
          }

      }
    }

}


